global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'redis_cluster'
    # Use HTTP service discovery for automatic node discovery
    http_sd_configs:
      - url: 'http://192.168.61.156:9121/discover-cluster-nodes'
        refresh_interval: 5m
    metrics_path: /scrape
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 192.168.61.156:9121 
